@{
    ViewBag.Title = "Home Page";
}

    <div>
        <section>
            <div class="container" id="about">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <img class="img-fluid rounded-circle" src="~/Content/img/logo.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4 text-black-50 text-center">Bienvenido a la Familia PetSecure</h2>
                            <p></p>
                            <h5 class="text-justify">
                                   Estamos muy contentos de tenerte aqui nuevamente, esperamos poder ayudarte con alguno de nuestros
                                servicios en nuestra pagina. 
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>