@{
    ViewBag.Title = "Index";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/img/bg.jpg" alt="Alternate Text" width="1366" height="602" />
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/f2.jpg" alt="Alternate Text" width="1366" height="602" />
        </div>
        <div class="carousel-item">
            <img src="~/Content/img/f3.jpg" alt="Alternate Text" width="1366" height="602" />
        </div>
    </div>
</div>

<section>
    <div class="container" id="about">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/img/logo.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">¿Quienes Somos?</h2>
                    <p></p>
                    <h5>
                        La Veterinaria PetSecure es una empresa dedicada al cuidado de las mascotas, que lleva en el mercado desde el año 2020,
                        trabajando en el bienestar de cada mascota que nos treaen cada dia.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary">
    <br /><br />
    < <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/img/m2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">

                    <h2 class="display-4 text-white text-center">Nuestro compromiso con tu mascota</h2>
                    <p></p>
                    <h5 class="text-white">
                        Nuestra meta contigo y tu mascota es ofrecerle el mejor servicio en cuanto a salud de tu fiel amigo refiere,
                        dandole el mejor trato posible asi como un lugar calido y acogedor durante su instancia en nuestras clinicas alrededor del pais.
                    </h5>

                </div>
            </div>
        </div>
    </div>
    <br /><br />
</section>

<section>
    <br /><br />
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/img/m1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Nuestros Servicios</h2>
                    <p></p>
                    <h5>
                        Ofrecemos todo tipo de servicios especializados y de la mejor calidad, siempre pensando en la salud y el bienestar de tu amigo peludo
                        y en la tranquilidad de nuestros usuarios y todo esto a precios accesibles.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</section>

<section class="bg-secondary" id="contact">
    <br /><br />
    < <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/img/contact.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">

                    <h2 class="display-4 text-white text-center">Contactanos</h2>
                    <p></p>
                    <h4 class="text-white text-center">
                        ¿Quieres saber mas sobre nosotros? Aqui nuestras Redes!
                    </h4>
                    <p></p>
                    <div class="acomodo1">
                        <center>
                            <div>
                                <a href="http://www.facebook.com"><img class="imgTam" src="~/Content/img/FB.png" alt="Facebook" width="100" height="100" /></a>

                                &nbsp;&nbsp;&nbsp;
                                <a href="http://www.twitter.com"><img class="imgTam" src="~/Content/img/pajaro.png" alt="Twitter" width="100" height="100" /></a>

                                &nbsp;&nbsp;&nbsp;

                                <a href="http://www.whatsapp.com"><img class="imgTam" src="~/Content/img/WHATSAPP.png" alt="Whatsapp" width="100" height="100" /></a>
                            </div>
                        </center>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />
</section>